<div class="trigger-div">
  <a href="#" data-target="slide-out" class="sidenav-trigger" id="sidenav-trigger"><i class="fas fa-bars"></i> Menu</a>
</div>
<section id="account">
    <div>
        <p>email: {{user.email}}</p>
        <p hidden id="user_id">{{user.id}}</p>

    </div>


<!-- Modal Button -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Change Password</a>

<section class="err-modal">
  <div id="success-modal" class="modal">
    <div class="modal-content">
      <h4 id="info-modal-heading">Confirmation</h4>
      <p id="info-modal-content">Password Successfully Changed </p>
    </div>
    <div class="modal-footer">
      <a href="#!" id="success" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
</section>

  <!-- Modal Body -->
  <div id="modal1" class="modal">
    <div class="modal-content">
     
        <div class="input-field col s12">
          <input id="password" type="text" class="validate">
          <label for="password">New Password</label>
        </div>
		 <div class="input-field col s12">
          <button type="submit" class="waves-effect waves-light btn" id="update">Update</button>
        </div>
        
      </div>	
      </form>
     </div>
    </div>
  </div> 
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
  crossorigin="anonymous"></script>
<script src="/javascript/account.js"></script>