<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">



<h2>Overview of Product Resources</h2>
<h4>Have the right materials at the right time. Below is a chart that updates automatically each time you complete a product.
    This material resource planner helps you keep track of your completed and pending products to add efficiency.</h4>

<div class="ct-chart"></div>

<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="/charts/.js"></script>