<h1>Products</h1>
<div class="parts-container">
   <div class="products-box">
<ul>
    {{#each products}}
    <li class="product">
        <p>{{product_name}}</p>
    </li>
    {{/each}}
</ul>
</div>
<div class="product-info"></div> 
</div>
