<form id="signup-form">
    <div>
        <h3>
            Create an Account
        </h3>
    </div>
    <div class="row">
        <div class="input-field col s4">
            <label for="email-signup"><i class="fas fa-user"></i> email:</label>
            <input type="text" id="email-signup" />
        </div>
    </div>
    <div class="row">
        <div class="input-field col s4">
            <label for="password-signup"><i class="fas fa-key"></i> password:</label>
            <input type="password" id="password-signup" />
        </div>
    </div>
    <div>
        <button class="btn waves-effect waves-light submit-btn"  type="submit">create account</button>
    </div>
</form>


<!-- Modal Structure -->
<div id="modal" class="modal">
  <div class="modal-content">
    {{!-- <h4>Modal Header</h4> --}}
    <p>Invalid Email or Password</p>
  </div>
  {{!-- <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div> --}}
</div>

<script src="/javascript/signup.js"></script>