body{
    /* overflow-y: hidden; */
    margin-top: 10px;
    border: 0px;
    padding: 0px;
}
main{
    margin-top: 10px;
}
.row{
    padding: 0px;
}

.sidebar{
    padding-top: 10px;
    padding-left: 0px;
    font-size:15px;
    background-image: linear-gradient(to right, black,lightgrey);
    color: white;
    /* line-height: 35px; */
    box-shadow: 12px 12px 20px 1px rgb(24, 23, 23);
    text-align: center;
    /* position: fixed; */
    /* left: 0; */
    width: 200px;
    height: 100%;
    overflow: hidden

}
.sidebar ul {
    padding-left: 0px;
}
 .sidebar li a i{
    /* text-align: center; */
    font-size: 3.0em;
    /* width: 50px; */
    /* text-decoration: none; */
    color: white;
    display: inline;

}
.sidebar li a{
    font-size: 20px;
    text-align: left;
    color: white;
    display: block;
   
}
.sidebar li{
    text-align: center;
     /* padding-bottom: 50px; */
     display: block;
     margin-bottom: 50px;
     height: 80px;
}
li.divider{
    padding-bottom: 50px;
    height: 1px;
}
.logo-view{
    /* text-align: center; */
    padding-left: 0px;
}
.logo-view img{
    /* margin-bottom: 50px; */
    height: 80px;
    width: auto;
    display: fixed;
    bottom: 0;
    padding-left: 0px;
}
.sidenav-trigger{
    margin-top: 10px;
    border-top: 10px;
    display: inline;

}
.sidenav-trigger i{
    font-size: 35px;
    color: black;
}
/* nav a{
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 50px;
} */

nav :hover{
    color: white;
}

/* .parts-content{
    height: 300px;
} */

.content{
    
    /* margin-left: 0px; */
    padding-left: 50px;
    padding-right: 50px;
}

.footer{
    color: white;
    position: fixed;
    font-size: 10px;
    bottom: 0;
    left: 0;
    width: 150px;
}
.parts-form-container{
    height: 150px;
    background-color: white;
    padding-top: 25px;
}
.part-form{
    /* height: 150px; */
    /* padding-top: 25px; */
    background-color: white;
}

.part-form-input{
    margin-bottom:0px;
}
.parts-table-container{
    top: 250px;
    height: 450px;
    overflow-y: auto;
    width: 100%;
}
.head{
    background-color: gray;
}
.parts-table-container table {
    width: 100%;
    table-layout: fixed;
}

 .parts-table td {
    border: 1px solid black;
    height: 60px;
    padding: 5px 10px;
    text-align: left;
  }

.parts-table tr:nth-child(even) {
    background-color: #eee;
  }

.parts-table tr:nth-child(odd) {
    background-color: #fff;
  }

textarea{
    width: 100%;
}

#part-save{
    display: block;
}
.part-action{
    width: 100px;
}

.products-list{
    border: 1px solid black;
    width: fit-content;
    text-align: left;
    padding-left: 0px;
    margin: 0px;
    height: 150px;
    /* display: fixed; */
    overflow-y: auto;

}
.products-list :hover{
    cursor: pointer;
}
/* .products-list ul{
    margin:0;
    padding:0;
    line-height: 1px;
} */
/* .products-list li :active{
    color: blue;
    cursor: pointer;
} */
.collection-item{
    /* height: 2px; */
    font-size: 0.5em;
    padding: 0px;
}
.collection{
    margin: 0px;
    padding: 0px;
}
.product{
    list-style: none;
}
.product-info{
    border: 1px solid black;
    height: 100%;
    /* flex-grow: 5; */
}
.parts-list{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.parts-list > li{
    margin: 5px;
}
.parts-container{
    display: flex;
}

.submit-btn{
    background-color: gray;
}


